.butterflyOuter {
    position: absolute;
    display: block;
    width: 48px;
    height: 38px;
    top: 30%;
    left: 50%;
    margin-left: -24px;
    pointer-events: none;
    z-index: 20
}

.butterflyInner {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(./Butterfly_1.svg) no-repeat center center;
    background-size: contain
}

.butterflyInner.color1 {
    background-image: url(./Butterfly_1.svg)
}

.butterflyInner.color2 {
    background-image: url(./Butterfly_2.svg)
}

.butterflyInner.color3 {
    background-image: url(./Butterfly_3.svg)
}

.butterflyInner.color4 {
    background-image: url(./Butterfly_4.svg)
}

.butterflyInner.color5 {
    background-image: url(./Butterfly_5.svg)
}

.butterfly1 .butterflyOuter {
    -webkit-animation: moveAround1 60s ease-in-out infinite;
    animation: moveAround1 60s ease-in-out infinite
}

.butterfly1 .butterflyInner {
    -webkit-animation: flutter1 8s ease-in-out infinite;
    animation: flutter1 8s ease-in-out infinite
}

.butterfly2 .butterflyOuter {
    -webkit-animation: moveAround2 60s ease-in-out infinite;
    animation: moveAround2 60s ease-in-out infinite
}

.butterfly2 .butterflyInner {
    -webkit-animation: flutter2 8s ease-in-out infinite;
    animation: flutter2 8s ease-in-out infinite
}

.butterfly3 .butterflyOuter {
    -webkit-animation: moveAround3 60s ease-in-out infinite;
    animation: moveAround3 60s ease-in-out infinite
}

.butterfly3 .butterflyInner {
    -webkit-animation: flutter1 8s ease-in-out infinite;
    animation: flutter1 8s ease-in-out infinite
}

.butterfly4 .butterflyOuter {
    -webkit-animation: moveAround4 60s ease-in-out infinite;
    animation: moveAround4 60s ease-in-out infinite
}

.butterfly4 .butterflyInner {
    -webkit-animation: flutter2 8s ease-in-out infinite;
    animation: flutter2 8s ease-in-out infinite
}

.butterfly5 .butterflyOuter {
    -webkit-animation: moveAround5 60s ease-in-out infinite;
    animation: moveAround5 60s ease-in-out infinite
}

.butterfly5 .butterflyInner {
    -webkit-animation: flutter1 8s ease-in-out infinite;
    animation: flutter1 8s ease-in-out infinite
}

.butterfly6 .butterflyOuter {
    -webkit-animation: moveAround6 60s ease-in-out infinite;
    animation: moveAround6 60s ease-in-out infinite
}

.butterfly6 .butterflyInner {
    -webkit-animation: flutter2 8s ease-in-out infinite;
    animation: flutter2 8s ease-in-out infinite
}

.butterfly7 .butterflyOuter {
    -webkit-animation: moveAround7 60s ease-in-out infinite;
    animation: moveAround7 60s ease-in-out infinite
}

.butterfly7 .butterflyInner {
    -webkit-animation: flutter1 8s ease-in-out infinite;
    animation: flutter1 8s ease-in-out infinite
}

.butterfly8 .butterflyOuter {
    -webkit-animation: moveAround8 60s ease-in-out infinite;
    animation: moveAround8 60s ease-in-out infinite
}

.butterfly8 .butterflyInner {
    -webkit-animation: flutter2 8s ease-in-out infinite;
    animation: flutter2 8s ease-in-out infinite
}

@-webkit-keyframes flutter1 {
    2% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    4% {
        -webkit-transform: scaleX(.76);
        transform: scaleX(.76)
    }

    6% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    8% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    10% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    12% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    14% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    16% {
        -webkit-transform: scaleX(.86);
        transform: scaleX(.86)
    }

    18% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    20% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    22% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    24% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    26% {
        -webkit-transform: scaleX(.71);
        transform: scaleX(.71)
    }

    28% {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    30% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    32% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    34% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    36% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    38% {
        -webkit-transform: scaleX(.92);
        transform: scaleX(.92)
    }

    40% {
        -webkit-transform: scaleX(.82);
        transform: scaleX(.82)
    }

    42% {
        -webkit-transform: scaleX(.75);
        transform: scaleX(.75)
    }

    44% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    46% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    48% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    50% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    52% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    54% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    56% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    58% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    60% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    62% {
        -webkit-transform: scaleX(.81);
        transform: scaleX(.81)
    }

    64% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    66% {
        -webkit-transform: scaleX(.87);
        transform: scaleX(.87)
    }

    68% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    70% {
        -webkit-transform: scaleX(.7);
        transform: scaleX(.7)
    }

    72% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    74% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    76% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    78% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    80% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    82% {
        -webkit-transform: scaleX(.86);
        transform: scaleX(.86)
    }

    84% {
        -webkit-transform: scaleX(.71);
        transform: scaleX(.71)
    }

    86% {
        -webkit-transform: scaleX(.99);
        transform: scaleX(.99)
    }

    88% {
        -webkit-transform: scaleX(.95);
        transform: scaleX(.95)
    }

    90% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    92% {
        -webkit-transform: scaleX(.84);
        transform: scaleX(.84)
    }

    94% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    96% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    98% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    100% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }
}

@keyframes flutter1 {
    2% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    4% {
        -webkit-transform: scaleX(.76);
        transform: scaleX(.76)
    }

    6% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    8% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    10% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    12% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    14% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    16% {
        -webkit-transform: scaleX(.86);
        transform: scaleX(.86)
    }

    18% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    20% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    22% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    24% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    26% {
        -webkit-transform: scaleX(.71);
        transform: scaleX(.71)
    }

    28% {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    30% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    32% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    34% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    36% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    38% {
        -webkit-transform: scaleX(.92);
        transform: scaleX(.92)
    }

    40% {
        -webkit-transform: scaleX(.82);
        transform: scaleX(.82)
    }

    42% {
        -webkit-transform: scaleX(.75);
        transform: scaleX(.75)
    }

    44% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    46% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    48% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    50% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    52% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    54% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    56% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    58% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    60% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    62% {
        -webkit-transform: scaleX(.81);
        transform: scaleX(.81)
    }

    64% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    66% {
        -webkit-transform: scaleX(.87);
        transform: scaleX(.87)
    }

    68% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    70% {
        -webkit-transform: scaleX(.7);
        transform: scaleX(.7)
    }

    72% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    74% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    76% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    78% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    80% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    82% {
        -webkit-transform: scaleX(.86);
        transform: scaleX(.86)
    }

    84% {
        -webkit-transform: scaleX(.71);
        transform: scaleX(.71)
    }

    86% {
        -webkit-transform: scaleX(.99);
        transform: scaleX(.99)
    }

    88% {
        -webkit-transform: scaleX(.95);
        transform: scaleX(.95)
    }

    90% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    92% {
        -webkit-transform: scaleX(.84);
        transform: scaleX(.84)
    }

    94% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    96% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    98% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    100% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }
}

@-webkit-keyframes flutter2 {
    2% {
        -webkit-transform: scaleX(.83);
        transform: scaleX(.83)
    }

    4% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    6% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    8% {
        -webkit-transform: scaleX(.76);
        transform: scaleX(.76)
    }

    10% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    12% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    14% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    16% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    18% {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    20% {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    22% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    24% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    26% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    28% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    30% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    32% {
        -webkit-transform: scaleX(.75);
        transform: scaleX(.75)
    }

    34% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    36% {
        -webkit-transform: scaleX(.86);
        transform: scaleX(.86)
    }

    38% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    40% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    42% {
        -webkit-transform: scaleX(.87);
        transform: scaleX(.87)
    }

    44% {
        -webkit-transform: scaleX(.88);
        transform: scaleX(.88)
    }

    46% {
        -webkit-transform: scaleX(.76);
        transform: scaleX(.76)
    }

    48% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    50% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    52% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    54% {
        -webkit-transform: scaleX(.95);
        transform: scaleX(.95)
    }

    56% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    58% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    60% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    62% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    64% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    66% {
        -webkit-transform: scaleX(.94);
        transform: scaleX(.94)
    }

    68% {
        -webkit-transform: scaleX(.92);
        transform: scaleX(.92)
    }

    70% {
        -webkit-transform: scaleX(.81);
        transform: scaleX(.81)
    }

    72% {
        -webkit-transform: scaleX(.81);
        transform: scaleX(.81)
    }

    74% {
        -webkit-transform: scaleX(.88);
        transform: scaleX(.88)
    }

    76% {
        -webkit-transform: scaleX(.99);
        transform: scaleX(.99)
    }

    78% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    80% {
        -webkit-transform: scaleX(.87);
        transform: scaleX(.87)
    }

    82% {
        -webkit-transform: scaleX(.71);
        transform: scaleX(.71)
    }

    84% {
        -webkit-transform: scaleX(.95);
        transform: scaleX(.95)
    }

    86% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    88% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    90% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    92% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    94% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    96% {
        -webkit-transform: scaleX(.83);
        transform: scaleX(.83)
    }

    98% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    100% {
        -webkit-transform: scaleX(.84);
        transform: scaleX(.84)
    }
}

@keyframes flutter2 {
    2% {
        -webkit-transform: scaleX(.83);
        transform: scaleX(.83)
    }

    4% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    6% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    8% {
        -webkit-transform: scaleX(.76);
        transform: scaleX(.76)
    }

    10% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    12% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    14% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    16% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    18% {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    20% {
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    22% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    24% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    26% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    28% {
        -webkit-transform: scaleX(.9);
        transform: scaleX(.9)
    }

    30% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    32% {
        -webkit-transform: scaleX(.75);
        transform: scaleX(.75)
    }

    34% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    36% {
        -webkit-transform: scaleX(.86);
        transform: scaleX(.86)
    }

    38% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    40% {
        -webkit-transform: scaleX(.98);
        transform: scaleX(.98)
    }

    42% {
        -webkit-transform: scaleX(.87);
        transform: scaleX(.87)
    }

    44% {
        -webkit-transform: scaleX(.88);
        transform: scaleX(.88)
    }

    46% {
        -webkit-transform: scaleX(.76);
        transform: scaleX(.76)
    }

    48% {
        -webkit-transform: scaleX(.78);
        transform: scaleX(.78)
    }

    50% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    52% {
        -webkit-transform: scaleX(.97);
        transform: scaleX(.97)
    }

    54% {
        -webkit-transform: scaleX(.95);
        transform: scaleX(.95)
    }

    56% {
        -webkit-transform: scaleX(.73);
        transform: scaleX(.73)
    }

    58% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    60% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    62% {
        -webkit-transform: scaleX(.89);
        transform: scaleX(.89)
    }

    64% {
        -webkit-transform: scaleX(.91);
        transform: scaleX(.91)
    }

    66% {
        -webkit-transform: scaleX(.94);
        transform: scaleX(.94)
    }

    68% {
        -webkit-transform: scaleX(.92);
        transform: scaleX(.92)
    }

    70% {
        -webkit-transform: scaleX(.81);
        transform: scaleX(.81)
    }

    72% {
        -webkit-transform: scaleX(.81);
        transform: scaleX(.81)
    }

    74% {
        -webkit-transform: scaleX(.88);
        transform: scaleX(.88)
    }

    76% {
        -webkit-transform: scaleX(.99);
        transform: scaleX(.99)
    }

    78% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    80% {
        -webkit-transform: scaleX(.87);
        transform: scaleX(.87)
    }

    82% {
        -webkit-transform: scaleX(.71);
        transform: scaleX(.71)
    }

    84% {
        -webkit-transform: scaleX(.95);
        transform: scaleX(.95)
    }

    86% {
        -webkit-transform: scaleX(.79);
        transform: scaleX(.79)
    }

    88% {
        -webkit-transform: scaleX(.85);
        transform: scaleX(.85)
    }

    90% {
        -webkit-transform: scaleX(.93);
        transform: scaleX(.93)
    }

    92% {
        -webkit-transform: scaleX(.72);
        transform: scaleX(.72)
    }

    94% {
        -webkit-transform: scaleX(.74);
        transform: scaleX(.74)
    }

    96% {
        -webkit-transform: scaleX(.83);
        transform: scaleX(.83)
    }

    98% {
        -webkit-transform: scaleX(.96);
        transform: scaleX(.96)
    }

    100% {
        -webkit-transform: scaleX(.84);
        transform: scaleX(.84)
    }
}

@-webkit-keyframes moveAround1 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-180px) translateY(55px) rotate(-83deg);
        transform: translateX(-180px) translateY(55px) rotate(-83deg)
    }

    20% {
        -webkit-transform: translateX(-146px) translateY(-45px) rotate(69deg);
        transform: translateX(-146px) translateY(-45px) rotate(69deg)
    }

    30% {
        -webkit-transform: translateX(52px) translateY(54px) rotate(54deg);
        transform: translateX(52px) translateY(54px) rotate(54deg)
    }

    40% {
        -webkit-transform: translateX(-162px) translateY(47px) rotate(86deg);
        transform: translateX(-162px) translateY(47px) rotate(86deg)
    }

    50% {
        -webkit-transform: translateX(56px) translateY(28px) rotate(-17deg);
        transform: translateX(56px) translateY(28px) rotate(-17deg)
    }

    60% {
        -webkit-transform: translateX(-92px) translateY(-24px) rotate(8deg);
        transform: translateX(-92px) translateY(-24px) rotate(8deg)
    }

    70% {
        -webkit-transform: translateX(-125px) translateY(47px) rotate(14deg);
        transform: translateX(-125px) translateY(47px) rotate(14deg)
    }

    80% {
        -webkit-transform: translateX(-3px) translateY(-1px) rotate(4deg);
        transform: translateX(-3px) translateY(-1px) rotate(4deg)
    }

    90% {
        -webkit-transform: translateX(-116px) translateY(8px) rotate(-65deg);
        transform: translateX(-116px) translateY(8px) rotate(-65deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround1 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-180px) translateY(55px) rotate(-83deg);
        transform: translateX(-180px) translateY(55px) rotate(-83deg)
    }

    20% {
        -webkit-transform: translateX(-146px) translateY(-45px) rotate(69deg);
        transform: translateX(-146px) translateY(-45px) rotate(69deg)
    }

    30% {
        -webkit-transform: translateX(52px) translateY(54px) rotate(54deg);
        transform: translateX(52px) translateY(54px) rotate(54deg)
    }

    40% {
        -webkit-transform: translateX(-162px) translateY(47px) rotate(86deg);
        transform: translateX(-162px) translateY(47px) rotate(86deg)
    }

    50% {
        -webkit-transform: translateX(56px) translateY(28px) rotate(-17deg);
        transform: translateX(56px) translateY(28px) rotate(-17deg)
    }

    60% {
        -webkit-transform: translateX(-92px) translateY(-24px) rotate(8deg);
        transform: translateX(-92px) translateY(-24px) rotate(8deg)
    }

    70% {
        -webkit-transform: translateX(-125px) translateY(47px) rotate(14deg);
        transform: translateX(-125px) translateY(47px) rotate(14deg)
    }

    80% {
        -webkit-transform: translateX(-3px) translateY(-1px) rotate(4deg);
        transform: translateX(-3px) translateY(-1px) rotate(4deg)
    }

    90% {
        -webkit-transform: translateX(-116px) translateY(8px) rotate(-65deg);
        transform: translateX(-116px) translateY(8px) rotate(-65deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround2 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-6px) translateY(36px) rotate(-69deg);
        transform: translateX(-6px) translateY(36px) rotate(-69deg)
    }

    20% {
        -webkit-transform: translateX(-145px) translateY(29px) rotate(44deg);
        transform: translateX(-145px) translateY(29px) rotate(44deg)
    }

    30% {
        -webkit-transform: translateX(-166px) translateY(-39px) rotate(-89deg);
        transform: translateX(-166px) translateY(-39px) rotate(-89deg)
    }

    40% {
        -webkit-transform: translateX(-26px) translateY(33px) rotate(-21deg);
        transform: translateX(-26px) translateY(33px) rotate(-21deg)
    }

    50% {
        -webkit-transform: translateX(-106px) translateY(5px) rotate(-7deg);
        transform: translateX(-106px) translateY(5px) rotate(-7deg)
    }

    60% {
        -webkit-transform: translateX(-154px) translateY(58px) rotate(62deg);
        transform: translateX(-154px) translateY(58px) rotate(62deg)
    }

    70% {
        -webkit-transform: translateX(-89px) translateY(20px) rotate(38deg);
        transform: translateX(-89px) translateY(20px) rotate(38deg)
    }

    80% {
        -webkit-transform: translateX(-117px) translateY(-40px) rotate(6deg);
        transform: translateX(-117px) translateY(-40px) rotate(6deg)
    }

    90% {
        -webkit-transform: translateX(-115px) translateY(-52px) rotate(21deg);
        transform: translateX(-115px) translateY(-52px) rotate(21deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround2 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-6px) translateY(36px) rotate(-69deg);
        transform: translateX(-6px) translateY(36px) rotate(-69deg)
    }

    20% {
        -webkit-transform: translateX(-145px) translateY(29px) rotate(44deg);
        transform: translateX(-145px) translateY(29px) rotate(44deg)
    }

    30% {
        -webkit-transform: translateX(-166px) translateY(-39px) rotate(-89deg);
        transform: translateX(-166px) translateY(-39px) rotate(-89deg)
    }

    40% {
        -webkit-transform: translateX(-26px) translateY(33px) rotate(-21deg);
        transform: translateX(-26px) translateY(33px) rotate(-21deg)
    }

    50% {
        -webkit-transform: translateX(-106px) translateY(5px) rotate(-7deg);
        transform: translateX(-106px) translateY(5px) rotate(-7deg)
    }

    60% {
        -webkit-transform: translateX(-154px) translateY(58px) rotate(62deg);
        transform: translateX(-154px) translateY(58px) rotate(62deg)
    }

    70% {
        -webkit-transform: translateX(-89px) translateY(20px) rotate(38deg);
        transform: translateX(-89px) translateY(20px) rotate(38deg)
    }

    80% {
        -webkit-transform: translateX(-117px) translateY(-40px) rotate(6deg);
        transform: translateX(-117px) translateY(-40px) rotate(6deg)
    }

    90% {
        -webkit-transform: translateX(-115px) translateY(-52px) rotate(21deg);
        transform: translateX(-115px) translateY(-52px) rotate(21deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround3 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-156px) translateY(43px) rotate(66deg);
        transform: translateX(-156px) translateY(43px) rotate(66deg)
    }

    20% {
        -webkit-transform: translateX(-3px) translateY(-57px) rotate(-23deg);
        transform: translateX(-3px) translateY(-57px) rotate(-23deg)
    }

    30% {
        -webkit-transform: translateX(-115px) translateY(49px) rotate(-1deg);
        transform: translateX(-115px) translateY(49px) rotate(-1deg)
    }

    40% {
        -webkit-transform: translateX(46px) translateY(-11px) rotate(-62deg);
        transform: translateX(46px) translateY(-11px) rotate(-62deg)
    }

    50% {
        -webkit-transform: translateX(43px) translateY(44px) rotate(79deg);
        transform: translateX(43px) translateY(44px) rotate(79deg)
    }

    60% {
        -webkit-transform: translateX(-133px) translateY(30px) rotate(-31deg);
        transform: translateX(-133px) translateY(30px) rotate(-31deg)
    }

    70% {
        -webkit-transform: translateX(-114px) translateY(47px) rotate(79deg);
        transform: translateX(-114px) translateY(47px) rotate(79deg)
    }

    80% {
        -webkit-transform: translateX(-108px) translateY(-14px) rotate(83deg);
        transform: translateX(-108px) translateY(-14px) rotate(83deg)
    }

    90% {
        -webkit-transform: translateX(-82px) translateY(-23px) rotate(52deg);
        transform: translateX(-82px) translateY(-23px) rotate(52deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround3 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-156px) translateY(43px) rotate(66deg);
        transform: translateX(-156px) translateY(43px) rotate(66deg)
    }

    20% {
        -webkit-transform: translateX(-3px) translateY(-57px) rotate(-23deg);
        transform: translateX(-3px) translateY(-57px) rotate(-23deg)
    }

    30% {
        -webkit-transform: translateX(-115px) translateY(49px) rotate(-1deg);
        transform: translateX(-115px) translateY(49px) rotate(-1deg)
    }

    40% {
        -webkit-transform: translateX(46px) translateY(-11px) rotate(-62deg);
        transform: translateX(46px) translateY(-11px) rotate(-62deg)
    }

    50% {
        -webkit-transform: translateX(43px) translateY(44px) rotate(79deg);
        transform: translateX(43px) translateY(44px) rotate(79deg)
    }

    60% {
        -webkit-transform: translateX(-133px) translateY(30px) rotate(-31deg);
        transform: translateX(-133px) translateY(30px) rotate(-31deg)
    }

    70% {
        -webkit-transform: translateX(-114px) translateY(47px) rotate(79deg);
        transform: translateX(-114px) translateY(47px) rotate(79deg)
    }

    80% {
        -webkit-transform: translateX(-108px) translateY(-14px) rotate(83deg);
        transform: translateX(-108px) translateY(-14px) rotate(83deg)
    }

    90% {
        -webkit-transform: translateX(-82px) translateY(-23px) rotate(52deg);
        transform: translateX(-82px) translateY(-23px) rotate(52deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround4 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-11px) translateY(35px) rotate(-78deg);
        transform: translateX(-11px) translateY(35px) rotate(-78deg)
    }

    20% {
        -webkit-transform: translateX(-142px) translateY(13px) rotate(75deg);
        transform: translateX(-142px) translateY(13px) rotate(75deg)
    }

    30% {
        -webkit-transform: translateX(-137px) translateY(-14px) rotate(42deg);
        transform: translateX(-137px) translateY(-14px) rotate(42deg)
    }

    40% {
        -webkit-transform: translateX(-119px) translateY(51px) rotate(76deg);
        transform: translateX(-119px) translateY(51px) rotate(76deg)
    }

    50% {
        -webkit-transform: translateX(-174px) translateY(15px) rotate(27deg);
        transform: translateX(-174px) translateY(15px) rotate(27deg)
    }

    60% {
        -webkit-transform: translateX(-64px) translateY(-56px) rotate(41deg);
        transform: translateX(-64px) translateY(-56px) rotate(41deg)
    }

    70% {
        -webkit-transform: translateX(39px) translateY(-40px) rotate(50deg);
        transform: translateX(39px) translateY(-40px) rotate(50deg)
    }

    80% {
        -webkit-transform: translateX(-84px) translateY(-53px) rotate(86deg);
        transform: translateX(-84px) translateY(-53px) rotate(86deg)
    }

    90% {
        -webkit-transform: translateX(-166px) translateY(14px) rotate(-62deg);
        transform: translateX(-166px) translateY(14px) rotate(-62deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround4 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-11px) translateY(35px) rotate(-78deg);
        transform: translateX(-11px) translateY(35px) rotate(-78deg)
    }

    20% {
        -webkit-transform: translateX(-142px) translateY(13px) rotate(75deg);
        transform: translateX(-142px) translateY(13px) rotate(75deg)
    }

    30% {
        -webkit-transform: translateX(-137px) translateY(-14px) rotate(42deg);
        transform: translateX(-137px) translateY(-14px) rotate(42deg)
    }

    40% {
        -webkit-transform: translateX(-119px) translateY(51px) rotate(76deg);
        transform: translateX(-119px) translateY(51px) rotate(76deg)
    }

    50% {
        -webkit-transform: translateX(-174px) translateY(15px) rotate(27deg);
        transform: translateX(-174px) translateY(15px) rotate(27deg)
    }

    60% {
        -webkit-transform: translateX(-64px) translateY(-56px) rotate(41deg);
        transform: translateX(-64px) translateY(-56px) rotate(41deg)
    }

    70% {
        -webkit-transform: translateX(39px) translateY(-40px) rotate(50deg);
        transform: translateX(39px) translateY(-40px) rotate(50deg)
    }

    80% {
        -webkit-transform: translateX(-84px) translateY(-53px) rotate(86deg);
        transform: translateX(-84px) translateY(-53px) rotate(86deg)
    }

    90% {
        -webkit-transform: translateX(-166px) translateY(14px) rotate(-62deg);
        transform: translateX(-166px) translateY(14px) rotate(-62deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround5 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-10px) translateY(-44px) rotate(67deg);
        transform: translateX(-10px) translateY(-44px) rotate(67deg)
    }

    20% {
        -webkit-transform: translateX(-24px) translateY(50px) rotate(31deg);
        transform: translateX(-24px) translateY(50px) rotate(31deg)
    }

    30% {
        -webkit-transform: translateX(-141px) translateY(-28px) rotate(85deg);
        transform: translateX(-141px) translateY(-28px) rotate(85deg)
    }

    40% {
        -webkit-transform: translateX(-133px) translateY(43px) rotate(85deg);
        transform: translateX(-133px) translateY(43px) rotate(85deg)
    }

    50% {
        -webkit-transform: translateX(37px) translateY(38px) rotate(-58deg);
        transform: translateX(37px) translateY(38px) rotate(-58deg)
    }

    60% {
        -webkit-transform: translateX(-59px) translateY(-33px) rotate(51deg);
        transform: translateX(-59px) translateY(-33px) rotate(51deg)
    }

    70% {
        -webkit-transform: translateX(-1px) translateY(-39px) rotate(6deg);
        transform: translateX(-1px) translateY(-39px) rotate(6deg)
    }

    80% {
        -webkit-transform: translateX(33px) translateY(-24px) rotate(-5deg);
        transform: translateX(33px) translateY(-24px) rotate(-5deg)
    }

    90% {
        -webkit-transform: translateX(-78px) translateY(-44px) rotate(33deg);
        transform: translateX(-78px) translateY(-44px) rotate(33deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround5 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-10px) translateY(-44px) rotate(67deg);
        transform: translateX(-10px) translateY(-44px) rotate(67deg)
    }

    20% {
        -webkit-transform: translateX(-24px) translateY(50px) rotate(31deg);
        transform: translateX(-24px) translateY(50px) rotate(31deg)
    }

    30% {
        -webkit-transform: translateX(-141px) translateY(-28px) rotate(85deg);
        transform: translateX(-141px) translateY(-28px) rotate(85deg)
    }

    40% {
        -webkit-transform: translateX(-133px) translateY(43px) rotate(85deg);
        transform: translateX(-133px) translateY(43px) rotate(85deg)
    }

    50% {
        -webkit-transform: translateX(37px) translateY(38px) rotate(-58deg);
        transform: translateX(37px) translateY(38px) rotate(-58deg)
    }

    60% {
        -webkit-transform: translateX(-59px) translateY(-33px) rotate(51deg);
        transform: translateX(-59px) translateY(-33px) rotate(51deg)
    }

    70% {
        -webkit-transform: translateX(-1px) translateY(-39px) rotate(6deg);
        transform: translateX(-1px) translateY(-39px) rotate(6deg)
    }

    80% {
        -webkit-transform: translateX(33px) translateY(-24px) rotate(-5deg);
        transform: translateX(33px) translateY(-24px) rotate(-5deg)
    }

    90% {
        -webkit-transform: translateX(-78px) translateY(-44px) rotate(33deg);
        transform: translateX(-78px) translateY(-44px) rotate(33deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround6 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-138px) translateY(2px) rotate(52deg);
        transform: translateX(-138px) translateY(2px) rotate(52deg)
    }

    20% {
        -webkit-transform: translateX(-58px) translateY(52px) rotate(-51deg);
        transform: translateX(-58px) translateY(52px) rotate(-51deg)
    }

    30% {
        -webkit-transform: translateX(-76px) translateY(5px) rotate(-32deg);
        transform: translateX(-76px) translateY(5px) rotate(-32deg)
    }

    40% {
        -webkit-transform: translateX(-108px) translateY(5px) rotate(-16deg);
        transform: translateX(-108px) translateY(5px) rotate(-16deg)
    }

    50% {
        -webkit-transform: translateX(-114px) translateY(-45px) rotate(78deg);
        transform: translateX(-114px) translateY(-45px) rotate(78deg)
    }

    60% {
        -webkit-transform: translateX(-142px) translateY(-44px) rotate(-9deg);
        transform: translateX(-142px) translateY(-44px) rotate(-9deg)
    }

    70% {
        -webkit-transform: translateX(-110px) translateY(2px) rotate(-78deg);
        transform: translateX(-110px) translateY(2px) rotate(-78deg)
    }

    80% {
        -webkit-transform: translateX(-5px) translateY(9px) rotate(78deg);
        transform: translateX(-5px) translateY(9px) rotate(78deg)
    }

    90% {
        -webkit-transform: translateX(-52px) translateY(-11px) rotate(-85deg);
        transform: translateX(-52px) translateY(-11px) rotate(-85deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround6 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-138px) translateY(2px) rotate(52deg);
        transform: translateX(-138px) translateY(2px) rotate(52deg)
    }

    20% {
        -webkit-transform: translateX(-58px) translateY(52px) rotate(-51deg);
        transform: translateX(-58px) translateY(52px) rotate(-51deg)
    }

    30% {
        -webkit-transform: translateX(-76px) translateY(5px) rotate(-32deg);
        transform: translateX(-76px) translateY(5px) rotate(-32deg)
    }

    40% {
        -webkit-transform: translateX(-108px) translateY(5px) rotate(-16deg);
        transform: translateX(-108px) translateY(5px) rotate(-16deg)
    }

    50% {
        -webkit-transform: translateX(-114px) translateY(-45px) rotate(78deg);
        transform: translateX(-114px) translateY(-45px) rotate(78deg)
    }

    60% {
        -webkit-transform: translateX(-142px) translateY(-44px) rotate(-9deg);
        transform: translateX(-142px) translateY(-44px) rotate(-9deg)
    }

    70% {
        -webkit-transform: translateX(-110px) translateY(2px) rotate(-78deg);
        transform: translateX(-110px) translateY(2px) rotate(-78deg)
    }

    80% {
        -webkit-transform: translateX(-5px) translateY(9px) rotate(78deg);
        transform: translateX(-5px) translateY(9px) rotate(78deg)
    }

    90% {
        -webkit-transform: translateX(-52px) translateY(-11px) rotate(-85deg);
        transform: translateX(-52px) translateY(-11px) rotate(-85deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround7 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-145px) translateY(-36px) rotate(-28deg);
        transform: translateX(-145px) translateY(-36px) rotate(-28deg)
    }

    20% {
        -webkit-transform: translateX(-107px) translateY(51px) rotate(2deg);
        transform: translateX(-107px) translateY(51px) rotate(2deg)
    }

    30% {
        -webkit-transform: translateX(7px) translateY(-17px) rotate(-81deg);
        transform: translateX(7px) translateY(-17px) rotate(-81deg)
    }

    40% {
        -webkit-transform: translateX(-73px) translateY(-27px) rotate(-78deg);
        transform: translateX(-73px) translateY(-27px) rotate(-78deg)
    }

    50% {
        -webkit-transform: translateX(5px) translateY(-49px) rotate(76deg);
        transform: translateX(5px) translateY(-49px) rotate(76deg)
    }

    60% {
        -webkit-transform: translateX(-138px) translateY(-32px) rotate(18deg);
        transform: translateX(-138px) translateY(-32px) rotate(18deg)
    }

    70% {
        -webkit-transform: translateX(12px) translateY(-54px) rotate(-63deg);
        transform: translateX(12px) translateY(-54px) rotate(-63deg)
    }

    80% {
        -webkit-transform: translateX(-46px) translateY(-2px) rotate(-44deg);
        transform: translateX(-46px) translateY(-2px) rotate(-44deg)
    }

    90% {
        -webkit-transform: translateX(-56px) translateY(10px) rotate(-24deg);
        transform: translateX(-56px) translateY(10px) rotate(-24deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround7 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-145px) translateY(-36px) rotate(-28deg);
        transform: translateX(-145px) translateY(-36px) rotate(-28deg)
    }

    20% {
        -webkit-transform: translateX(-107px) translateY(51px) rotate(2deg);
        transform: translateX(-107px) translateY(51px) rotate(2deg)
    }

    30% {
        -webkit-transform: translateX(7px) translateY(-17px) rotate(-81deg);
        transform: translateX(7px) translateY(-17px) rotate(-81deg)
    }

    40% {
        -webkit-transform: translateX(-73px) translateY(-27px) rotate(-78deg);
        transform: translateX(-73px) translateY(-27px) rotate(-78deg)
    }

    50% {
        -webkit-transform: translateX(5px) translateY(-49px) rotate(76deg);
        transform: translateX(5px) translateY(-49px) rotate(76deg)
    }

    60% {
        -webkit-transform: translateX(-138px) translateY(-32px) rotate(18deg);
        transform: translateX(-138px) translateY(-32px) rotate(18deg)
    }

    70% {
        -webkit-transform: translateX(12px) translateY(-54px) rotate(-63deg);
        transform: translateX(12px) translateY(-54px) rotate(-63deg)
    }

    80% {
        -webkit-transform: translateX(-46px) translateY(-2px) rotate(-44deg);
        transform: translateX(-46px) translateY(-2px) rotate(-44deg)
    }

    90% {
        -webkit-transform: translateX(-56px) translateY(10px) rotate(-24deg);
        transform: translateX(-56px) translateY(10px) rotate(-24deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes moveAround8 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-23px) translateY(-3px) rotate(2deg);
        transform: translateX(-23px) translateY(-3px) rotate(2deg)
    }

    20% {
        -webkit-transform: translateX(-48px) translateY(36px) rotate(-51deg);
        transform: translateX(-48px) translateY(36px) rotate(-51deg)
    }

    30% {
        -webkit-transform: translateX(1px) translateY(54px) rotate(76deg);
        transform: translateX(1px) translateY(54px) rotate(76deg)
    }

    40% {
        -webkit-transform: translateX(48px) translateY(57px) rotate(-84deg);
        transform: translateX(48px) translateY(57px) rotate(-84deg)
    }

    50% {
        -webkit-transform: translateX(-51px) translateY(-29px) rotate(6deg);
        transform: translateX(-51px) translateY(-29px) rotate(6deg)
    }

    60% {
        -webkit-transform: translateX(-136px) translateY(30px) rotate(-81deg);
        transform: translateX(-136px) translateY(30px) rotate(-81deg)
    }

    70% {
        -webkit-transform: translateX(13px) translateY(-47px) rotate(-13deg);
        transform: translateX(13px) translateY(-47px) rotate(-13deg)
    }

    80% {
        -webkit-transform: translateX(-170px) translateY(-16px) rotate(55deg);
        transform: translateX(-170px) translateY(-16px) rotate(55deg)
    }

    90% {
        -webkit-transform: translateX(-28px) translateY(-56px) rotate(76deg);
        transform: translateX(-28px) translateY(-56px) rotate(76deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}

@keyframes moveAround8 {
    0% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }

    10% {
        -webkit-transform: translateX(-23px) translateY(-3px) rotate(2deg);
        transform: translateX(-23px) translateY(-3px) rotate(2deg)
    }

    20% {
        -webkit-transform: translateX(-48px) translateY(36px) rotate(-51deg);
        transform: translateX(-48px) translateY(36px) rotate(-51deg)
    }

    30% {
        -webkit-transform: translateX(1px) translateY(54px) rotate(76deg);
        transform: translateX(1px) translateY(54px) rotate(76deg)
    }

    40% {
        -webkit-transform: translateX(48px) translateY(57px) rotate(-84deg);
        transform: translateX(48px) translateY(57px) rotate(-84deg)
    }

    50% {
        -webkit-transform: translateX(-51px) translateY(-29px) rotate(6deg);
        transform: translateX(-51px) translateY(-29px) rotate(6deg)
    }

    60% {
        -webkit-transform: translateX(-136px) translateY(30px) rotate(-81deg);
        transform: translateX(-136px) translateY(30px) rotate(-81deg)
    }

    70% {
        -webkit-transform: translateX(13px) translateY(-47px) rotate(-13deg);
        transform: translateX(13px) translateY(-47px) rotate(-13deg)
    }

    80% {
        -webkit-transform: translateX(-170px) translateY(-16px) rotate(55deg);
        transform: translateX(-170px) translateY(-16px) rotate(55deg)
    }

    90% {
        -webkit-transform: translateX(-28px) translateY(-56px) rotate(76deg);
        transform: translateX(-28px) translateY(-56px) rotate(76deg)
    }

    100% {
        -webkit-transform: translateX(0) translateY(0) rotate(0deg);
        transform: translateX(0) translateY(0) rotate(0deg)
    }
}