*{
    padding: 0;
    margin: 0;
}
@font-face{
    font-family: 'rancho';
    src: url(./rancho-regular-webfont.woff) format('woff'),
         url(./rancho-regular-webfont.woff2) format('woff');
}

html{
    background: #fff;
    font-family: 'rancho', fantasy, 'Comic Sans Ms', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

@-webkit-keyframes blurIn{
    from{
        filter: blur(10px);
    }
    to{
        filter: blur(0);
    }
}
@keyframes blurIn{
    from{
        filter: blur(10px);
    }
    to{
        filter: blur(0);
    }
}
.text-words{
    font-size: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-animation: blurIn 3s forwards; 
    animation: blurIn 3s forwards;
}
.text-words p{
    width: 200px;
    text-align: center;
}
.mid{
    font-size: 32px;
}
.sm{
    padding-top: 10px;
    font-size: 24px;
}
.white{
    color: #47365a;
    text-shadow: #666 0 0 10px;
}
.red{
    color: red;
}
.fsn{
    background-image: linear-gradient(45deg, red, #111, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: bgMove 6s infinite;
}
@keyframes bgMove{
    from{
        background-position-x: 0;
    }
    50%, 100%{
        background-position-x: 200px;
    }
}
.slowAni{
    opacity: 0;
    -webkit-animation: slowAni 6s forwards; 
    animation: slowAni 6s forwards;
}
@keyframes slowAni{
    from{
        opacity: 0;
        filter: blur(10px);
    }
    to{
        opacity: 1;
        filter: blur(0);
    }
}
.fadeIn{
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 24px;
    color: #666;
    -webkit-animation: upIn 6s ease-in 3s forwards;
    animation: upIn 6s ease-in 3s forwards;
    opacity: 0;
}
@keyframes upIn{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@-webkit-keyframes upIn{
    from{
        opacity: 0;
        -webkit-transform: translateY(200px);
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}